* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body {
    height: 100%;
}

html {
    background: radial-gradient(circle,white 0%, #A491d2 90%);
    font-size: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#chat-container {
    display: flex;
    flex-grow: 1;
    min-width: 100vh;
    max-width: 100vh;
    max-height:100vh;
    height: 100vh;
    background: #E8EBE4;
}

#side-bar {
    display: flex ;
    flex-flow: column wrap;
    background:white;
    flex-basis: 25vh;
    border: 1px solid gainsboro;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    
}


#chat-window {
    border-radius: 0 10px 10px 0;
    flex-grow: 1;
}

#side-bar img{
    display: flex;
    flex-direction: column;
    width: 6vh;
    height: 7vh;
    border-radius: 50%;
    border: #A491d2 solid 2px;
    
}

.chat {
    display: flex;
    flex-direction: row;
    border: 1px solid gainsboro;
    gap: 10px;
    height: 10vh;
}

.chat img {
    display: flex;
    justify-content: baseline;
    align-items: flex-end;
}

.informacion{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: flex-start;
}


button {
        transition-duration: 0.4s;
        padding: 1vh; 
        width: 100%;       
        background-color: #A491d2;
        color: white;
        border: none;
}
      
button:hover {
 /* Green */
        color: white;
}

#boton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vh;
}

.texto {
    display: flex;
    flex-direction: row;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items:center;
    gap: 10px;
}

.status {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#chat-window{
    display: flex;
    justify-content: center;
    align-items: center;
}

#chat-window img {
    display: flex;
    flex-direction: column;
    width: 30vh;
}

.introduccion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iniciar-conversacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}